
.title{
    color: blue;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    
}
#text{
    margin-left: 20px;
}
#head{
    font-weight: 60px;
    font-size: 40px;
    font-style: oblique;
}
.layout{
    align-items: center;
    border-width: 10px;
    /* background-origin: padding-box; */

}
.input[type='text']{
    columns: width 20px;
    column-rule-width: 50px;
    align-content: center;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 404px;
    padding: 20px;
   
}
/* @media (max-width: 50px) { */
.align{
    /* background:whitesmoke; */
    /* border: 2px solid black; */
    /* padding: 70px; */
    align-items: center;
    /* color:burlywood; */
    margin-left: 400px;
    margin-top: 10px;
    margin-right: 400px;
    height: 700px;
    /* border-radius: 8px; */
/* } */
}
.input[type= 'Button']{
    columns: width 20px;
    column-rule-width: 50px;
    align-content: center;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 404px;
  
}
@media (max-width:1155px){
    .layout{
        width:100%;
    }
}
@media (max-width:1155px){
    #text{
        width: 100%;
    }
}
@media (max-width:1155px){
    #button{
        width: 100%;
    }
}
@media (max-width:1155px){
    #head{
        width: 100%;
    }
}


